<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
</head>
<body>
    <div class="text-center">
        <img src="https://www.shutterstock.com/image-photo/sea-otter-enhydra-lutris-600nw-2398038403.jpg" class="rounded w-50">
        <h1> We did it!</h1>
        <p>Congrats!</p>
    </div>
    
    
</body>
</html>
<!-- auto tempate when ! tab -->
